---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout title="Memojify">
  <Container>
		<header class="text-center mt-[109px]">
			<h1 class="text-4xl mb-[50px] font-bold">Memojify</h1>
			<p>Create custom emojis from your favorite movie titles!</p>
		</header>

		
	</Container>
</Layout>

